<%= hidden_field_tag 'project_id', params[:project_id] %>
<%= hidden_field_tag 'back_url', params[:back_url] %>
<%= error_messages_for @automation_rule %>
<div class="splitcontent">
  <div class="splitcontentleft">
    <div class="box tabular">
      <p><%= f.text_field :name, size: 50, required: true %></p>
      <p><%= f.text_area :description, rows: 7 %></p>
      <% if @automation_rule.enabled %>
        <p><%= f.check_box :enabled %></p>
      <% end %>
    </div>
  </div>

  <% if @project %>
    <%= hidden_field_tag 'automation_rule[project_ids][]', @project.id %>
  <% else  %>
  <div class="splitcontentright">
    <fieldset class="box"><legend><%= toggle_checkboxes_link("#automation_rule_project_ids input[type=checkbox]:enabled") %><%= l(:label_project_plural) %></legend>
      <p><%= f.check_box :is_for_all, onclick: "window.ToggleCheckboxes.projects($(this).is(':checked'))"  %></p>

        <div id="custom_field_project_ids">
          <% project_ids = @automation_rule.project_ids.to_a %>
          <%= render_project_nested_lists(Project.all) do |p|
            content_tag('label', check_box_tag('automation_rule[project_ids][]', p.id, project_ids.include?(p.id), :id => nil, class: 'automation_rule_project_checkbox', disabled: f.object.is_for_all) + ' ' + p.name)
          end %>
          <%= hidden_field_tag('automation_rule[project_ids][]', '', :id => nil) %>
        </div>
    </fieldset>
  </div>
  <% end %>
</div>

<script type="text/javascript">
  window.ToggleCheckboxes = {
    projects: function(checked){
      $(".automation_rule_project_checkbox").prop('disabled', checked);
    }
  }
</script>
